body{
    background: linear-gradient(to bottom, #ffcc99 0%, #ff99cc 100%);
    color: darkblue;
}
.heading {
    font-size: 22px;
    width: 80%;

}
#camera{
    border : 2px dashed cornflowerblue;
    width: 300;
    height: 300;
}
.name_of_object , #result_object_name , #result_object_accuracy{
    color: darkblue;
    
}